%section.new-post
  / = @post.errors.each do |e|
  /   e
  = simple_form_for @post do |f|
    = f.input :title, placeholder: "Title", label: false
    = f.input :content, placeholder: "Content", label: false
    = f.input :snippet
    = f.submit "Publish Post"

  - content_for :javascript do
    Site.PageMethods.runPostEdit = new Site.PostEdit('#post_content');
