%article.post-preview
  %h1= post.title
  = post.content.html_safe
  %p
    - if action_name == 'show'
      = link_to "Back", blog_path, class: "back-button"
    - else
      = link_to "Show", show_post_path(post.url), class: "show-button"
    = render "admin_links", post: post
%hr
