<p><h1><%= @post.title %></h1></p>
<p><%= @post.text %></p>
<p><%= link_to 'Back', blog_path %> <%= render 'admin_links', post: @post %></p>
<br>
<% unless @post.comments.blank? %>
  <p>
    <h2>Comments</h2>
    <% @post.comments.each do |comment| %>
      <em><%= comment.commenter %></em>: <%= comment.body %><br>
    <% end %>
  </p>
  <br>
<% end %>
<p>
  <h2>Add a comment:</h2>
  <%= simple_form_for([@post, @post.comments.build]) do |f| %>
    <%= f.input :commenter, placeholder: 'Name', label: false %>
    <%= f.text_area :body, placeholder: 'Comment' %>
    <%= f.submit "Post Comment" %>
  <% end %>
</p>