<%= simple_form_for message, url: contact_path, method: 'post' do |f| %>
  <% if message.errors.any? %>
    <ul>
      <% message.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <%= f.input :name, placeholder: "Your Name", label: false, required: false %>
  <%= f.input :email, placeholder: "Your Email Address", label: false, required: false %>
  <%= f.input :subject, placeholder: "What is this concerning?", label: false, required: false %>
  <%= f.input :body, as: :text, placeholder: "What would you like to talk to me about?", label: false, required: false %>
  <%= f.submit "Send Message" %>
<% end %>