!!!
%html
  %head
    = metamagic title: "Samuel Thornton • Front-End Developer & UX Designer • Portland, OR"
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    - flash.each do |flash, message|
      %div{class: "flash flash-#{flash}"}
        = message

    = render "/shared/navigation"

    %main#page_wrapper.clear
      = yield

    = yield :javascript
