!!!
%html.hover
  %head
    = metamagic title: "Samuel Thornton • Front-End Developer & UX Designer • Portland, OR"
    = javascript_include_tag "application", async: true
    = stylesheet_link_tag "application", media: "all"
    = csrf_meta_tags
  %body
    .page-wrapper
      - flash.each do |flash, message|
        %div{ class: "flash flash-#{flash}" }
          = message

      %header.site-header
        = render "/shared/navigation"

      %main#main_content.main-content
        = yield

      %footer.site-footer
        = render "/shared/footer"

    = render "/shared/global_js"
    %script
      var javascripts = function() { Site.PageMethods = {}; #{yield :javascript} };
      var runJS = function() { window.Site && Site.javascriptReady ? javascripts() : setTimeout(runJS, 100) };
      runJS();
